@import "bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
  overflow: hidden;
}

:root {
  --primary-color: #f1b045;
  --primary-hover: #c79358;
  --primary-disabled: #e5d5ac;

  --card-color: #f6f3e5;
  --card-hover: #efe7dd;
  --card-active: #f6e7c3;
  --card-gray: #efefef;

  --view-color: #d9a066;
  --view-hover: #c79058;

  --remove-color: #f0e7c7;
  --remove-hover: #d9a066;

  --bg-soft: #F7F3E6;
  --bg-white: #f8f8f8;

  --text-light: #8b8b8b;
  --text-hover: #6b6b6b;
  --text-dark: #2f2f2f;
  --text-muted: #4d5053;
  --text-dot: #b6b6b6;

  --border-color: #e7d8c5;
  --border-text: #7a5c3c;
  --border-gray: #dddddd;
  --border-line: #e7d8c5;

  --required-color: #ea5d5a;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 4px;
}

.required {
  color: var(--required-color);
  font-weight: bold;
}