@import "bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
  overflow: hidden;
}

:root {
  --primary-color: #f1b045;
  --primary-hover: #c79358;
  --primary-disable: #e5d5ac;
  --card-hover: #efe7dd;
  --view-color: #d9a066;
  --view-hover: #c79058;
  --bg-soft: #F7F3E6;
  --bg-white: #f8f8f8;
  --text-light: #8b8b8b;
  --text-hover: #6b6b6b;
  --text-dark: #2f2f2f;
  --text-muted: #4d5053;
  --border-color: #e7d8c5;
  --border-text: #7a5c3c;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 4px;
}

.required {
  color: #e84a47;
  margin-left: 0.25rem;
  font-weight: 700;
}

.view-btn {
  background: var(--view-color);
  color: #fff;
  border: none;
  border-radius: 14px;
  padding: 0.5rem 0.75rem;
  font-weight: 500;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .icon{
    width: 1.25rem !important;
    height: 1.25rem !important;
  }

  &:hover {
    background: var(--view-hover);
    color: #fff;
  }
}

.add-btn {
  background: var(--primary-color) ;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.35rem;
  font-weight: 500;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .icon{
    width: 0.875rem !important;
    height: 0.875rem !important;
  }

  &:hover {
    background: var(--primary-hover);
    color: #fff;
  }
}


